*.out
*.log
simple
*.o
*.pyc
aalsdk/
myinst/
tmp/
*.vpd
par/
csrc/
work/
simv*
DVEfiles/
*.gcno
*.gcda
ucli.key
urgReport/
*.obj
*.txt
*.info

## Binaries by name
InitRelease
mmio_stress
seeded_random

