*.out
*.log
simple
*.o
*.pyc
aalsdk/
myinst/
tmp/
*.vpd
par/
csrc/
work/
simv*
DVEfiles/
*.gcno
*.gcda
ucli.key
urgReport/
*.obj
*.txt
*.info

## Binaries by name
InitRelease
mmio_stress
seeded_random

async_vlog_files.list
iombuf_samp_vlog_files.list
iomfifo_samp_vlog_files.list
iom_vlog_files.list
mpf_vlog_files.list
mux_vlog_files.list

kw_build
